*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src:url("fonts/roboto.woff");
}

@font-face {
    font-family: "Roboto Bold";
    src:url("fonts/robotobold.woff");
}

@font-face {
    font-family: "Roboto Medium";
    src:url("fonts/robotomedium.woff");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("fonts/roboto-regular.ttf");
}

.overlay{
    height:2408px;
    width:100%;
    background-color:rgba(132, 157, 143, 0.3);
    z-index: 6;
    position: absolute;
    display:none;
}

.button{
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
    background-color: #ffffff;
    background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
}

.button:hover{
    box-shadow: 0 1px 2px #ac1000;
    background-color: rgba(255, 255, 255, 0.2);
    background-color: #ffffff;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button:active{
    box-shadow: inset 0 2px 2px #942718;
    background-color: rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

.main_wrapper{
    padding-top:10px;
    background: url("img/backlight.png") no-repeat #849d8f;
    background-position: center top;
    display:grid;
    justify-content: center;
    grid-template-columns: minmax(1200px, auto);
    grid-template-rows: minmax(64px, auto) minmax(574px, auto) minmax(230px, auto) minmax(402px, auto) minmax(306px, auto) minmax(263px, auto) minmax(429px, auto) minmax(103px, auto);
}

.feedback_form{
    width: 478px;
    height: 443px;
    background-color: #f8f7f4;
    position: absolute;
    top:40.5%;
    left:30%;
    border-radius: 10px;
    z-index: 7;
    padding-top: 16px;
    padding-left:24px;
    padding-right:17px;
    display:none;
}

.feedback_form .feedback_form_header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:20px;
}

.feedback_form .feedback_form_header p{
    color: #323232;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
}

.feedback_form input{
    width: 267px;
    height: 44px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    background-color: #ffffff;
    color: #999999;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    padding-left:15px;
    padding-right:15px;
    margin-bottom:20px;
}

.feedback_form input:nth-child(4){
    width: 428px;
    height: 155px;
    margin-bottom:25px;
}

.feedback_form .button{
    width: 139px;
    height: 44px;
    color: #fefefe;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:290px;
}

.container{
    width:1200px;
    padding-right:27px;
    padding-left:27px;
}

.header_container{
    min-height:64px;
    display:grid;
    grid-template-columns: 154px 440px auto 262px;
    grid-column-gap: 3px;
    position: relative;
}

#header_logo{
    display:block;
    height:64px;
    grid-column: 1;
}

.header_menu{
    display:flex;
    align-items: center;
    grid-column: 2;
    margin-left:7px;
}

.header_menu .passive_link{
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 12px;
    padding-bottom:2px;
    padding-left:14px;
    padding-right:14px;
}

.header_menu .active_link{
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 12px;
    padding-bottom:2px;
    padding-left:14px;
    padding-right:14px;
    background-color: #f7f6f3;
    height: 32px;
    border-radius: 30px;
    color:#323232;
    display:flex;
    align-items: center;
}

.header_menu a:last-child{
    margin-right:0px;
}

.header_menu a:hover{
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
}

.admin_panel{
    grid-column: 4;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-bottom:4px;
}

.admin_panel #search{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;
    background-color:rgba(255, 255, 255, 0.2);
    background-image: url("img/Loup.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    padding-bottom:1px;
}

.admin_panel #search:hover{
    background-color: #f8f7f4;
    background-image: url("img/search_hover.png");
}


.admin_panel #login{
    width: 93px;
    height: 32px;
    background-color:rgba(255, 255, 255, 0.2);
    background-image: url("img/Login.png");
    background-repeat: no-repeat;
    background-position: 22% 45%;
    border-radius: 15px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-decoration: none;
    padding-left:43px;
    padding-right:17px;
    padding-bottom:1px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}

.admin_panel #login:hover{
    background-color: #f8f7f4;
    background-image: url("img/Login-hover.png");
    color: #323232;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}

.admin_panel #basket{
    width: 117px;
    height: 32px;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    text-decoration: none;
    padding-left:16px;
    padding-right:34px;
    padding-bottom:1px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
}

.header_container .main_menu{
    height:200px;
    width:143px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    border-radius: 5%;
    grid-row: 1/2 span;
    position:absolute;
    left:15.5%;
    top:54px;
    z-index: 5;
    display:none;
}

.header_container .main_menu p{
    width:128px;
    color: #323232;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    padding-top:13px;
    padding-bottom:13px;
    padding-left:13px;
    border-bottom: 1px solid rgba(50, 50, 50, 02);
    margin:0 auto;
    margin-bottom:4px;
}

.header_container .main_menu a{
    color: #323232;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    padding-top:8px;
    padding-bottom:8px;
    display:block;
    text-decoration: none;
    padding-left:20px;
}

.header_container .main_menu a:hover{
    background-color: #fbded8;
}

.header_container .search_block{
    width: 341px;
    height: 84px;
    border-radius: 10px;
    grid-row:1/2;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    position: absolute;
    top: 54px;
    left: 50.5%;
    display: none;
    padding-top:20px;
    padding-left:15px;
    z-index: 5;
}

.header_container .search_block input{
    width: 311px;
    height: 44px;
    border: 1px solid #d3d3d2;
    background-color: #ffffff;
    padding-left:15px;
    padding-right:15px;
    border-radius: 5px;
    color: #999999;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}

.header_container .login_block{
    display:none;
    width: 277px;
    height: 214px;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    background-color: #f8f7f4;
    position:absolute;
    top:54px;
    left:64%;
    padding-top:20px;
    padding-left:19px;
    z-index: 5;
}

.header_container .login_block input{
    width: 241px;
    height: 44px;
    border: 1px solid #d3d3d2;
    background-color: #ffffff;
    color: #999999;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    padding-left:15px;
    padding-right:15px;
    border-radius: 5px;
    margin-bottom:20px;
}

.header_container .login_block .wrapper{
    display:flex;
}

.header_container .login_block .button{
    width: 100px;
    height: 44px;
    color: #fefefe;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    padding-top:10px;
    padding-left:25px;
    margin-right:20px;
}

.header_container .login_block .wrapper .variants_of_registration{
    display:flex;
    flex-wrap: wrap;
    max-width:119px;
}

.header_container .login_block .wrapper .variants_of_registration a{
    color: #323232;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
}

.slider_container{
    display:grid;
    grid-template-columns: 1fr 322px 322px 1fr;
    grid-template-rows: 1fr;
    grid-column:1;
    grid-row: 2/3 span;
}

.work_time_and_contacts{
    grid-column: 4;
    grid-row:1;
    justify-self: right;
}

.work_time_and_contacts p:first-child{
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    line-height: 13px;
    margin-bottom:10px;
    word-spacing: 1px;
}

.work_time_and_contacts p:nth-child(2){
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    line-height:17px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.one_icecream{
    height:100%;
    background: url("img/ice-cream-one.png") no-repeat;
    background-position: -0.2% 1.6%;
    grid-column: 2/3 span;
    grid-row: 1;
    z-index: 1;
}

.two_icecream{
    height:100%;
    background: url("img/strawberry-ice-cream.png") no-repeat;
    background-position: -3.9% 7.5%;
    grid-column: 3/4 span;
    grid-row: 1;
    z-index: 0;
}

#icecream_name{
    grid-column: 1/4 span;
    grid-row:1;
    max-width:680px;
    z-index:2;
    margin-top:318px;
    justify-self: center;
    line-height: 56px;
}

#icecream_name p{
    color: #ffffff;
    font-family: Roboto Bold;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    line-height: 59px;
    margin-bottom:15px;
}

#give_me_too{
    width: 280px;
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4 span;
    grid-row:1;
    height:64px;
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    justify-self: center;
    z-index: 3;
    margin-top:470px;
    padding-bottom:5px;
}

.slider{
    display:flex;
    justify-content: space-between;
    width:80px;
    grid-column:1;
    grid-row:1;
    align-self:start;
    margin-top:490px;
}

.slider_item{
    width: 21px;
    height: 21px;
    border:2px solid #ffffff;
    border-radius: 50%;
}

.active_slider{
    background-color: #ffffff;
}

.raspberries_and_chocolate{
    grid-row: 3;
    grid-column:1;
    display:flex;
    justify-content: space-between;
    z-index: 4;
}

.raspberries{
    background:url("img/raspberries_background.png")no-repeat;
    height:100%;
    width:561px;
    padding:11px 21px 23px 19px;
}

.raspberries h2{
    color: #ffffff;
    font-family: Roboto Bold;
    font-size: 35px;
    font-weight: 700;
    margin-bottom:14px;
}

.raspberries p{
    color: #ffffff;
    font-family: Roboto Bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom:45px;
}

.raspberries #raspberries_button{
    max-width: 165px;
    min-height: 46px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 30px;
    color:#ffffff;
    font-family: Roboto Bold;
    font-size: 18px;
    font-weight: 700;
    margin-left:68%;
    padding-bottom:5px;
}

.chocolate{
    background: url("img/chocolate_background.png")no-repeat;
    height:100%;
    width:561px;
    padding:11px 0 23px 19px;
}

.chocolate h2{
    color: #ffffff;
    font-family: Roboto Bold;
    font-size: 35px;
    font-weight: 700;
    margin-bottom:13px;
}

.chocolate p{
    color: #ffffff;
    font-family: Roboto Bold;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom:45px;
}

.chocolate #chocolate_button{
    max-width: 189px;
    min-height: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    font-family: Roboto Bold;
    font-size: 18px;
    font-weight: 700;
    margin-left:61.5%;
    padding-bottom:5px;
}

.hit_products_container{
    grid-row:4/5;
    grid-column: 1;
    display:flex;
    justify-content: space-between;
    padding-top:33px;
    padding-left: 14px;
    padding-right: 12px;
}

.hit_product{
    height:405px;
    width:293px;
    z-index: 2;
    padding-left:13px;
    padding-right:13px;
    padding-top:6px;
}

.hit_product:hover{
    background-color: rgba(248, 247, 244, 0.2);
    border-radius: 8px;
}

.hit_product .product_image{
    width:100%;
    height:266px;
    margin-bottom:14px;
}

.hit_product_1 .product_image{
    background: url("img/orange_cream.png")no-repeat;
}

.hit_product_2 .product_image{
    background: url("img/coffe_cream.png")no-repeat;
}

.hit_product_3 .product_image{
    background: url("img/strawberry_cream.png")no-repeat;
}

.hit_product_4 .product_image{
    background: url("img/caramel_cream.png")no-repeat;
}

.hit_product .product_image .hit_label{
    margin-bottom:148px;
}

.hit_product .product_image .price{
    text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
    color: #ffffff;
    font-family: Roboto;
    font-size: 45px;
    font-weight: 700;
    margin-top:2px;
    line-height: 35px;
    display:flex;
    align-items: flex-end;
}

.hit_product .product_image .price img{
    height:35px;
    margin-bottom:-2px;
    margin-left:5px;
    margin-right:3px;
}

.hit_product .product_image .price span{
    font-size: 28px;
    display:block;
    line-height: 25px;
    text-align: end;
}

.hit_product .product_name{
    text-align:center;
    color: #ffffff;
    font-family: Roboto Bold;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 17px;
}

.hit_product .hit_product_view{
    width: 200px;
    height: 44px;
    color: #fefefe;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    display:none;
    padding-top:10px;
    padding-left:17px;
    margin:0 auto;
}

.about_as{
    grid-row: 5;
    background: url("img/waffle_background.png")no-repeat;
    background-size: cover;
    border-radius: 15px;
    width:1148px;
    margin:0 auto;
    height:100%;
    margin-top:-38px;
    padding-top:25px;
    padding-left:21px;
}

.about_as h3{
    color: #323232;
    font-family: Roboto Medium;
    font-size: 24px;
    font-weight: 500;
    margin-bottom:12px;
}

.information_blocks{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.information_block{
    display:flex;
    max-width:532px;
    margin-bottom:10px;
}

.information_block img{
    width: 49px;
    height: 49px;
    margin-right:7px;
}

.information_block p{
    color: #323232;
    padding-top:12px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.blog_and_mailing{
    grid-row: 6;
    grid-column: 1;
    padding-top:4px;
    display:flex;
    justify-content: space-between;
}

.blog{
    background:url("img/strawberry_fone.png") no-repeat;
    height:100%;
    width:561px;
    padding-top:27px;
    padding-left:20px;
}

.blog p:first-child{
    color: #323232;
    font-family: Roboto Bold;
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    margin-bottom:10px;
}

.blog p:last-child{
    color: #323232;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
    max-width: 280px;
}

.mailing{
    background: url("img/multicolored_fone.png") no-repeat;
    height:100%;
    width:561px;
    display:flex;
    justify-content: center;
    padding-top:5px;
}

.mailing .fone_block{
    width: 549px;
    height: 83%;
    display:flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 10px;
    padding-top:28px;
    padding-left:22px;
    padding-right:20px;
}

.mailing .fone_block p{
    color: #5a5a5a;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.mailing .fone_block input{
    width: 368px;
    height: 44px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    margin-right:10px;
    padding-left:14px;
    color: #999999;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}

.mailing .fone_block .mailing_button{
    width: 129px;
    height: 44px;
    display:flex;
    color: #fefefe;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    justify-content: center;
    padding-top:10px;
}

.map_main{
    grid-row: 7;
    grid-column:1;
}

.map{
    min-width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.map_main .map_wrapper{
    position: relative;
}

.map_wrapper .address_block{
    width: 302px;
    height: 305px;
    background-color: white;
    border-radius: 10px;
    padding-top:30px;
    padding-left:25px;
    position:absolute;
    z-index: 50;
    top:60px;
    left:72.5%;
}

.address_block p{
    color: #323232;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}

.address_block p:first-child{
    max-width:148px;
    line-height: 20px;
}

.address_block p:nth-child(2){
    color: #323232;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    max-width:222px;
    line-height: 24px;
    margin-bottom:20px;
    word-spacing: 0.5px;
}

.address_block p:nth-child(3){
    color: #323232;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    margin-bottom:5px;
}

.address_block p:nth-child(4){
    font-family: "Roboto Bold";
    font-size: 18px;
    font-weight: 700;
    margin-bottom:5px;
}

.address_block p:nth-child(5){
    margin-bottom:25px;
}

.address_block .button{
    width: 252px;
    height: 44px;
    color: #fefefe;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    display:flex;
    justify-content: center;
    padding-top:10px;
}

.footer_container{
    grid-row: 8;
    display:flex;
}

.footer_container .socials{
    display:flex;
    width:198px;
    justify-content: space-between;
    padding-top:36px;
    margin-right:210px;
}

.footer_container .socials .social{
    width: 38px;
    height: 39px;
    border:3px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

.footer_container .socials .twitter{
    background:url("img/twitter.png") no-repeat;
}

.footer_container .socials .instagramm{
    background:url("img/instagramm.png") no-repeat;
}

.footer_container .socials .faceboock{
    background:url("img/faceboock.png") no-repeat;
}

.footer_container .socials .vk{
    background:url("img/vk.png") no-repeat;
}

.footer_container .footer_menu{
    padding-top:37px;
    padding-left:0;
    margin-right:230px;
}

.footer_container .footer_menu a img{
    margin-right: 7px;
    width: 15px;
    height: 13px;
}

.footer_container .footer_menu div a{
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
}

.footer_container .footer_menu div:first-child{
    display:flex;
    align-items: center;
    margin-bottom:5px;
}

.footer_container .footer_menu div:first-child a:first-child{
    color: #ffffff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    margin-right:32px;
    display:flex;
    align-items: center;
}

.footer_container .footer_menu div:nth-child(2){
    width:330px;
    padding-left:20px;
}

.footer_container .footer_menu div:nth-child(2) a:first-child{
    margin-right:42px;
}

.footer_container .made_in{
    padding-top:18px;
    width:200px;
}

.footer_container .made_in #made_in_logo{
    width: 108px;
    height: 39px;
    background: url("img/html_academy_logo.png") no-repeat;
    margin-bottom:7px;
}

.footer_container .made_in p{
    color: #fefefe;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

.footer_container .made_in p a{
    color: #fefefe;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}


@-moz-document url-prefix() {
    .header_menu a:hover{
        border-bottom:1px solid rgba(255, 255, 255, 0.2);
        padding-top:1px;
        padding-bottom:1px;
    }

    #icecream_name{
        grid-column: 1/4 span;
        grid-row:1;
        max-width:690px;
        z-index:2;
        margin-top:318px;
        justify-self: center;
        line-height: 56px;
    }

    .raspberries p{
        color: #ffffff;
        font-family: Roboto Bold;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin-bottom:22px;
    }

    .map .address_block p:nth-child(2){
        color: #323232;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        max-width:228px;
        line-height: 24px;
        margin-bottom:20px;
        word-spacing: 0.5px;
    }

    @media all and (max-width:1201px){

        #icecream_name{
            grid-column: 1/4 span;
            grid-row:1;
            min-width:670px;
            z-index:2;
            margin-top:318px;
            justify-self: center;
            line-height: 56px;
        }

        .header_menu a:hover{
            border-bottom:1px solid rgba(255, 255, 255, 0.2);
            padding-top:1px;
            padding-bottom:2px;
        }
    }
}


@media all and (max-width:1201px) {

    .main_wrapper{
        grid-template-columns: minmax(900px,900px);
        grid-template-rows: minmax(64px, auto) minmax(520px, auto) minmax(230px, auto) minmax(402px, auto) minmax(338px, auto) minmax(172px, auto) minmax(387px, auto) minmax(103px, auto);
    }

    .container{
        width:900px;
    }

    .header_container{
        min-height:64px;
        display:grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 3px;
    }

    #header_logo{
        display: flex;
        justify-content: flex-end;
    }

    #header_logo img{
        max-width: 140px;
    }

    .header_menu{
        padding-left: 12px;
    }

    .header_menu .passive_link{
        font-size: 14px;
        padding-right:0;
        padding-left:0;
        margin-right:27px;
    }

    .header_menu .active_link{
        font-size: 14px;
        padding-bottom:2px;
        padding-left:10px;
        padding-right:10px;
        margin-right:17px;
        margin-left:-10px;
    }

    .header_menu a:hover{
        border-bottom:1px solid rgba(255, 255, 255, 0.2);
        padding-top:1px;
        padding-bottom:1px;
    }

    .header_menu a:last-child{
        margin-right:0;
    }

    .admin_panel{
        justify-content: start;
    }

    .admin_panel #search{
        width: 28px;
        height: 28px;
        justify-content: start;
        margin-right: 8px;
    }

    .admin_panel #login{
        width: 85px;
        height: 28px;
        margin-right: 8px;
        font-size: 12px;
    }

    .admin_panel #basket{
        width: 105px;
        height: 28px;
        font-size: 12px;
    }

    .admin_panel #basket img{
        margin-right:8px;
    }

    .header_container .main_menu{
        height:200px;
        width:143px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
        background-color: #f8f7f4;
        border-radius: 5%;
        grid-row: 1/2 span;
        position:absolute;
        left:22.5%;
        top:54px;
        z-index: 5;
        display:none;
    }

    .header_container .search_block{
        width: 325px;
        top: 49px;
        left: 34.2%;
    }

    .header_container .search_block input{
        width: 295px;
    }

    .header_container .login_block{
        width: 267px;
        top:49px;
        left:51%;
    }

    .header_container .login_block input{
        width: 231px;
    }

    .header_container .login_block .button{
        margin-right:14px;
    }

    .slider_container{
        display:grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr;
    }

    .work_time_and_contacts{
        grid-column: 4;
        grid-row:1;
        justify-self: right;
        margin-right:30px;
    }

    .work_time_and_contacts p:first-child{
        font-size: 12px;
    }

    .work_time_and_contacts p:nth-child(2){
        font-size: 16px;
    }

    .one_icecream{
        height:100%;
        background: url("img/ice-cream-one.png") no-repeat;
        background-position: 65% 1%;
        background-size: 333px 519px;
        grid-column: 1/3 span;
    }

    .two_icecream{
        height:100%;
        background: url("img/strawberry-ice-cream.png") no-repeat;
        background-position: 56% 6.5%;
        background-size: 300px 480px;
        grid-column: 2/3 span;
    }

    #icecream_name{
        max-width:620px;
        margin-top:283px;
        line-height: 56px;
    }

    #icecream_name p{
        font-size: 55px;
    }

    #give_me_too{
        width: 255px;
        height:58px;
        font-size: 28px;
        line-height: 28px;
        margin-top:425px;
    }

    .slider{
        width:70px;
        margin-top:442px;
        margin-left:35px;
    }

    .slider_item{
        width: 18px;
        height: 18px;
        z-index:100;
    }

    .raspberries_and_chocolate{
        justify-content: start;
    }

    .raspberries{
        width:382px;
        height:210px;
        border-radius: 12px;
        background-size: cover;
        margin-left:32px;
        margin-right: 20px;
    }

    .raspberries h2{
        font-size: 30px;
        margin-bottom:14px;
    }

    .raspberries p{
        font-size: 16px;
        margin-bottom:17px;
    }

    .raspberries #raspberries_button{
        width: 150px;
        min-height: 40px;
        font-size: 16px;
        margin-left:57%;
    }

    .chocolate{
        width:382px;
        height:210px;
        border-radius: 12px;
        background-size: cover;
    }

    .chocolate h2{
        font-size: 30px;
        margin-bottom:13px;
    }

    .chocolate p{
        font-size: 16px;
        margin-bottom:18px;
    }

    .chocolate #chocolate_button{
        width: 170px;
        min-height: 40px;
        font-size: 16px;
        margin-left:47%;
    }

    .hit_products_container{
        grid-row:4/5;
        grid-column: 1;
        display:flex;
        justify-content: space-between;
        padding-top:0px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .hit_product{
        height:346px;
        width:200px;
        z-index: 2;
        padding-left:6px;
        padding-right:6px;
        padding-top:9px;
    }

    .hit_product .product_image{
        background-size: 185px 185px;
        width:190px;
        height:190px;
        margin-bottom:6px;
    }

    .hit_product .product_image .hit_label{
        margin-bottom:65px;
    }

    .hit_product .product_image .price{
        font-size: 40px;
    }

    .hit_product .product_name{
        text-align:center;
        color: #ffffff;
        font-family: Roboto Bold;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 17px;
    }

    .hit_product:nth-child(2) .product_name{
        margin-bottom:35px;
    }

    .hit_product:nth-child(4) .product_name{
        margin-bottom:35px;
    }

    .hit_product .hit_product_view{
        width: 193px;
        padding-left:13px;
    }

    .about_as{
        border-radius: 10px;
        background:url("img/big_wafer_fone.png");
        width:780px;
        height:100%;
        background-size: contain;
        margin-top:-102px;
        padding-top:23px;
        padding-left:16px;
    }

    .about_as h3{
        font-size: 22px;
        margin-bottom:10px;
    }

    .information_block{
        display:flex;
        max-width:355px;
        margin-bottom:10px;
    }

    .information_block img{
        width: 45px;
        height: 45px;
        margin-right:7px;
    }

    .information_block p{
        color: #323232;
        padding-top:10px;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .blog_and_mailing{
        grid-row: 6;
        grid-column: 1;
        padding-top:4px;
        display:flex;
        justify-content: space-around;
        padding-left:5.8%;
        padding-right:5.8%;
        margin-top:-70px;
    }

    .blog{
        background:url("img/strawberry_fone.png") no-repeat;
        height:200px;
        width:380px;
        padding-top:23px;
        padding-left:18px;
        border-radius: 13px;
        background-position: 100%,0;
        background-size: cover;
    }

    .blog p:first-child{
        color: #323232;
        font-family: Roboto Bold;
        font-size: 14px;
        font-weight: 500;
        line-height: 12px;
        margin-bottom:10px;
    }

    .blog p:last-child{
        color: #323232;
        font-family: Roboto;
        font-size: 22px;
        font-weight: 700;
        text-decoration: underline;
        max-width: 280px;
    }

    .mailing{
        background: url("img/multicolored_fone.png") no-repeat;
        height:200px;
        width:380px;
        display:flex;
        justify-content: center;
        padding-top:5px;
        border-radius: 12px;
    }

    .mailing .fone_block{
        width: 370px;
        height: 190px;
        display:flex;
        flex-wrap: wrap;
        background-color: #ffffff;
        border-radius: 10px;
        padding-top:25px;
        padding-left:18px;
        padding-right:17px;
    }

    .mailing .fone_block p{
        color: #5a5a5a;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .mailing .fone_block input{
        width: 207px;
        height: 42px;
        border: 1px solid rgba(178, 178, 178, 0.52);
        margin-right:10px;
        padding-left:10px;
        color: #999999;
        font-family: Roboto;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 400;
        margin-top:-15px;
    }

    .mailing .fone_block .mailing_button{
        width: 118px;
        height: 42px;
        display:flex;
        color: #fefefe;
        font-family: Roboto M;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        justify-content: center;
        padding-top:10px;
        margin-top:-15px;
    }

    .map{
        height:100%;
        min-width:0;
        width:820px;
        margin:0 auto;
    }


    .map_wrapper .address_block{
        width: 275px;
        height: 275px;
        background-color: white;
        border-radius: 10px;
        padding-top:26px;
        padding-left:24px;
        margin-right: -7px;
        top:58px;
        left:62.8%;
    }

    .address_block p{
        color: #323232;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
    }

    .address_block p:first-child{
        max-width:137px;
        line-height: 18px;
        letter-spacing: 0.5px;
    }

    .address_block p:nth-child(2){
        color: #323232;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        max-width:222px;
        line-height: 22px;
        margin-bottom:18px;
        word-spacing: 0.5px;
        letter-spacing: 0.2px;
    }

    .address_block p:nth-child(3){
        color: #323232;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        margin-bottom:6px;
        letter-spacing: 0.3px;
    }

    .address_block p:nth-child(4){
        font-family: "Roboto Bold";
        font-size: 16px;
        font-weight: 700;
        margin-bottom:5px;
    }

    .address_block p:nth-child(5){
        margin-bottom:23px;
        letter-spacing: 0.3px;
    }

    .address_block .button{
        width: 227px;
        height: 40px;
        color: #fefefe;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        display:flex;
        justify-content: center;
        padding-top:10px;
    }

    .footer_container{
        grid-row: 8;
        display:flex;
        padding-left:60px;
    }

    .footer_container .socials{
        display:flex;
        width:168px;
        justify-content: space-between;
        padding-top:33px;
        margin-right: 65px;

    }

    .footer_container .socials .social{
        width: 34px;
        height: 34px;
        background-position: -10%,0%;
        border:1px solid rgba(255, 255, 255, 0.5);
        border-radius: 30px;
    }

    .footer_container .socials .twitter{
        background:url("img/twitter.png") no-repeat;
    }

    .footer_container .socials .instagramm{
        background:url("img/instagramm.png") no-repeat;
    }

    .footer_container .socials .faceboock{
        background:url("img/faceboock.png") no-repeat;
    }

    .footer_container .socials .vk{
        background:url("img/vk.png") no-repeat;
    }

    .footer_container .footer_menu{
        padding-top:30px;
        padding-left:0;
        margin-right:48px;
    }

    .footer_container .footer_menu a img{
        margin-right: 7px;
        width: 12px;
        height: 11px;
    }

    .footer_container .footer_menu div a{
        text-decoration: none;
        color: #ffffff;
        font-family: Roboto;
        font-size: 11px;
        font-weight: 400;
    }

    .footer_container .footer_menu div:first-child{
        display:flex;
        align-items: center;
        margin-bottom:5px;
    }

    .footer_container .footer_menu div:first-child a:first-child{
        color: #ffffff;
        font-family: Roboto;
        font-size: 11px;
        font-weight: 700;
        margin-right:36px;
        display:flex;
        align-items: center;
    }

    .footer_container .footer_menu div:nth-child(2){
        width:330px;
        padding-left:20px;
    }

    .footer_container .footer_menu div:nth-child(2) a:first-child{
        margin-right:42px;
    }

    .footer_container .made_in{
        padding-top:16px;
        width:200px;
    }

    .footer_container .made_in #made_in_logo{
        width: 98px;
        height: 35px;
        background: url("img/html_academy_logo.png") no-repeat;
        background-size: cover;
        margin-bottom:6px;
    }

    .footer_container .made_in p{
        color: #fefefe;
        font-family: Roboto;
        font-size: 10px;
        font-weight: 400;
    }

    .footer_container .made_in p a{
        color: #fefefe;
        font-family: Roboto;
        font-size: 10px;
        font-weight: 400;
        text-decoration: none;
    }

    .feedback_form{
        left:23%;
    }
}

